
<%
var categoriesList = list_categories({ show_count: false }),
  tagsList = list_tags({ show_count: false }),
  archivesList = list_archives({ show_count: false });
%>

<div class="tag">
  <% if (!is_year()) { %>
    <div id="archive">
        <% if (tagsList) { %>
          <%-tagsList%>
        <% } else { %>
          <p>没有任何标签</p>
        <% } %>
    </div>
  <% } else { %>
</div>

<div id="recent-posts">

  <% page.posts.each(function(post) { %>
  <div class="recent-post-item" <% if(!post.thumbnail) { %><%var a=parseInt(Math.random()*theme.thumbnail,10)+1%> style="background-image:url(/images/random/vateral-<%=a%>.png)" <% } else { %>style="background-image:url(<%= post.thumbnail%>)" <% } %>>
    <div class="post-hover">
      <!--title-->
      <p class="post-title"><a href="<%=config.root + post.path%>" ><%=post.title%></a></p>

      <!--date-->
        <% if (post.date) { %>
      <p class="post-time"><%=config.author%>&nbsp&nbsp发布于:<time datetime="<%=post.date.toJSON()%>">
              <%=date(post.date)%>
        </time>
      </p>
        <% } %>

      <!--tags-->
      Tags:
        <%- list_tags(post.tags, {
          show_count: false,
          style: 'list',
          separator: ''
        }) %>

      <!--tags-->
      分类:
        <%- list_categories(post.categories, {
          show_count: false,
          style: 'list',
          separator: ''
        }) %>

      <!--excerpt-->
      <div class="post-excerpt">
        <p>
          摘要：
            <%if(post.excerpt) {%>
            <%- strip_html(post.excerpt) %>
            <%}else{%>
            <%- strip_html(truncate(post.content,{length: theme.reading.entry_excerpt })) %>
            <%}%>
        </p>
      </div>
      <div class="post-more"><a href="<%=config.root + post.path%>" >全文阅读</a></div>
    </div>
  </div>
  <% }); %>
  <nav class="paging">
      <%- paginator({
        space: '',
        mid_size: 1,
        prev_text: '<div class="prev-text"><img src="/images/nav-left.png"></div>',
        next_text: '<div class="next-text"><img src="/images/nav-right.png"></div>'
      }) %>
  </nav>
<% } %>
</div>
