<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <% if (theme.seo.keywords && theme.seo.description){%>
  <meta name="keywords" content="<%=theme.seo.keywords%>">
  <meta name="description" content="<%=theme.seo.description%>">
  <% }%>
  <title><%=config.title%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  <% if(page.layout === 'photo') { %>
    <!-- Single Gallery Page -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/templatemo_style.css" rel="stylesheet" type="text/css">
    <% }%>
    <style type="text/css">
        html{
            font-family: sans-serif;
            font-weight: 300;
        }
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/fonts/MaterialIcons-Regular.eot);
            src: url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
            url(/fonts/MaterialIcons-Regular.woff) format('woff'),
            url(/fonts/MaterialIcons-Regular.ttf) format('truetype')
        }
    </style>
</head>
<body>
<a href="#" data-activates="slide-out"  class="button-collapse"><div class="nav-btn"><i class="material-icons">list</i></div></a>
<div id="menu-outer">
  <div id="menu-inner">
      <%-partial('partials/nav-left')%>
  </div>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>
<div id="bottom-outer">
  <div id="bottom-inner">
    <%-partial('partials/footer')%>
  </div>
</div>

<!--影集界面需要的资源-->
<% if(page.layout === 'photo') { %>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/templatemo_script.js"></script>
<script type="text/javascript" src="/js/exif.js"></script>
<script type="text/javascript" src="/js/photopage.js"></script>
<script type="text/javascript">
    var boxes=$('.portfolio-item');
    boxes.magnificPopup({
        type: 'image',
        gallery:{
            enabled:true
        }
    });
</script>
<% }%>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
<!-- scripts list from theme config.yml -->
<% theme.scripts.forEach(function(url) { %>
<script src="<%=url%>"></script>
<% }); %>
<% } %>
<script>
    lazy();
    links();
    NProgress.start();
    NProgress.done();
</script>

<% if(theme.visitor) { %>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
</body>
</html>
