<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += config.title ;
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%=config.title%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>
<body>
<div class="loader">
    <div class="loader-content">
        <img src=/images/loading.gif alt="Loader" class="loader-loader" />
    </div>
</div>
<a data-activates="slide-out"  class="button-collapse"><div class="nav-btn"><img src="/images/list.png "  ondragstart="return false;"></div></a>
<div id="menu-outer">
  <div id="menu-inner">
      <ul id="slide-out" class="side-nav">
          <div class="nav-header">
              <img id="headbg" src="<%=theme.headbg%>" ondragstart="return false;">
              <div class="header-box"><img src="<%=theme.header%>" ondragstart="return false;"></div>
              <p><%=config.author%></p>
              <div class="nav-link">
                  <% if(theme.sns.github) { %>
                  <div class="link-box"><a  href="<%= theme.sns.github %>" target="_blank"><div class="link-box-img"><img src="/images/link/github.png" ondragstart="return false;"></div></a></div>
                  <% } %>

                  <% if(theme.sns.email) { %>
                  <div class="link-box"><a href="<%= theme.sns.email %>" target="_blank"><div class="link-box-img"><img src="/images/link/email.png" ondragstart="return false;"> </div></a></div>
                  <% } %>

                  <% if(theme.sns.facebook) { %>
                  <div class="link-box"><a href="<%= theme.sns.facebook %>" target="_blank"><div class="link-box-img"><img src="/images/link/facebook.png" ondragstart="return false;"> </div></a></div>
                  <% } %>

                  <% if(theme.sns.weibo) { %>
                  <div class="link-box"><a href="<%= theme.sns.weibo %>" target="_blank"><div class="link-box-img"><img src="/images/link/weibo.png" ondragstart="return false;"></div></a></div>
                  <% } %>

                  <% if(theme.sns.rss) { %>
                  <div class="link-box"><a href="<%= theme.sns.rss %>" target="_blank"><div class="link-box-img"><img src="/images/link/rss.png" ondragstart="return false;"> </div></a></div>
                  <% } %>

                  <% if(theme.sns.douban) { %>
                  <div class="link-box"><a href="<%= theme.sns.douban %>" target="_blank"> <div class="link-box-img"><img src="/images/link/douban.png" ondragstart="return false;"> </div></a></div>
                  <% } %>
              </div>
              <div class="nav-search">
                  <form id="search-form"> <!-- 搜索框相关 -->
                      <input type="text" id="local-search-input" name="q" results="0" placeholder="搜索..." class="search form-control" autocomplete="off" autocorrect="off"/>
                      <div class="nav-search-img"><img src="/images/search.png"></div>
                  </form>
                  <div id="local-search-result"></div> <!-- 搜索结果区 -->
                  <p class='no-result'>无搜索结果</p>
              </div>
          </div>

          <!--Homepage-->
          <% if(theme.sidebar.homepage.use === true) { %>
          <li class="nav-list">
              <a href="<%= config.root %>" target="_self">
                  <div class="nav-ico"><img src="/images/ico/home.png"> </div><p>主页</p>
              </a>
          </li>
          <% } %>

          <!--archives-->
          <% if(theme.sidebar.archives.use === true) { %>
          <li class="nav-list dropdown-btn">
              <a  class=""  target="_self">
                  <div class="nav-ico"><img src="/images/ico/archives.png"></div><p>归档</p><div class="dropdown-ico"><img src="/images/ico/smalldown.png"></div>
              </a>
          </li>
          <% } %>
          <ul class="dropdown-menu dropdown" >
              <li class="nav-dropdown-list">
                  <%- list_archives({
                      show_count: true,
                      style: 'none',
                      separator: '</li><li class="nav-dropdown-list">'
                  }) %>
              </li>
          </ul>

          <!--categories-->
          <% if(theme.sidebar.categories.use === true) { %>
          <li class="nav-list dropdown-btn">
              <a   class=""  target="_self">
                  <div class="nav-ico"><img src="/images/ico/categories.png"></div><p>分类</p><div class="dropdown-ico"><img src="/images/ico/smalldown.png"></div>
              </a>
          </li>
          <% } %>
          <ul class="dropdown-menu dropdown" >
              <li class="nav-dropdown-list">
                  <%- list_categories({
                      show_count: true,
                      style: 'none',
                      separator: '</li><li class="nav-dropdown-list">'
                  }) %>
              </li>
          </ul>

          <!--tags-->
          <% if(theme.sidebar.tags.use === true) { %>
          <li class="nav-list">
              <a href="/archives" target="_self">
                  <div class="nav-ico"><img src="/images/ico/tags.png"> </div><p>标签</p>
              </a>
          </li>
          <% } %>

          <!--about-->
          <% if(theme.sidebar.about.use === true) { %>
          <li class="nav-list">
              <a href="/about" target="_self">
                  <div class="nav-ico"><img src="/images/ico/about.png"> </div><p>关于</p>
              </a>
          </li>
          <% } %>
      </ul>
  </div>
</div>
<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>
<div id="bottom-outer">
  <div id="bottom-inner">
      <a  id="top-button" onfocus="this.blur();"><div class="up"><img src="/images/up.png" ondragstart="return false;"></div></a>
      Copyright ©  2017  <%=config.title%><br>
      Powered by <a href="https://hexo.io/" target="_blank"> Hexo </a> && Theme - <a href="https://github.com/moumao/hexo-theme-Vateral" target="_blank">Vateral</a>
  </div>
</div>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>
<script>
    $(function(){
        $(".lazy").lazyload({
            effect : "fadeIn"
        });
    })
</script>
</body>
</html>
