
<article id="post">
  <div class="post-page-title" <% if(!page.thumbnail) { %><%var a=parseInt(Math.random()*theme.thumbnail,10)+1%> style="background-image:url(/images/random/vateral-<%=a%>.png)" <% } else { %>style="background-image:url(<%= page.thumbnail%>)" <% } %>>
  <h2><%=page.title%></h2>
  </div>
  <div class="post-page-content">
  <%-page.content%>
  </div>
</article>
<nav class="post-nav">
  <!-- Prev Nav -->
    <% if (page.prev) { %>
  <a href="<%- config.root %><%- page.prev.path %>" id="post_nav-newer" class="post-nav-content prev-content">
      新篇
  </a>
    <% } %>


  <!-- Next Nav -->
    <% if (page.next) { %>
  <a href="<%- config.root %><%- page.next.path %>" id="post_nav-older" class="post-nav-content next-content">
      旧篇
  </a>
    <% } %>
</nav>
<div class="post-toc-btn"><img src="/images/ico/toc.png"></div>
<div class="post-toc-none"><p>(无)</p></div>
<div class="post-toc-box">
    <%- toc(page.content, {
      class: 'post-toc',
      list_number: true
    }) %>
</div>
<div class="post-back"><img src="/images/ico/back.png"></div>