
<article id="post">
  <div class="post-page-title" <% if(!page.thumbnail) { %><%var a=parseInt(Math.random()*theme.thumbnail,10)+1%> style="background-image:url(/images/random/vateral-<%=a%>.png)" <% } else { %>style="background-image:url(<%= page.thumbnail%>)" <% } %>>
  <h2><%=page.title%></h2>
  </div>
  <div class="post-page-content">
  <%-page.content%>
  </div>
</article>
<%- toc(page.content, {
  class: 'post-toc',
  list_number: true
}) %>
