
<article id="post">
  <div class="post-page-title" <% if(!page.thumbnail) { %><%var a=parseInt(Math.random()*theme.thumbnail,10)+1%> style="background-image:url(/images/random/vateral-<%=a%>.png)" <% } else { %>style="background-image:url(<%= page.thumbnail%>)" <% } %>>
  <h2><%=page.title%></h2>
    <% if (page.date) { %>
  <p>作者:<%=config.author%> &nbsp&nbsp 发布于:<time datetime="<%=page.date.toJSON()%>">
          <%=date(page.date)%>
    </time>
  </p>
    <% } %>
  </div>
  <div class="post-page-content">
  <%-page.content%>
  </div>
 <!-- <div id="SOHUCS" style="padding:15px"></div>-->
</article>
<nav class="post-nav">
  <!-- Prev Nav -->
    <% if (page.prev) { %>
  <a href="<%- config.root %><%- page.prev.path %>" id="post_nav-newer" class="post-nav-content prev-content">
      新篇
  </a>
    <% } %>


  <!-- Next Nav -->
    <% if (page.next) { %>
  <a href="<%- config.root %><%- page.next.path %>" id="post_nav-older" class="post-nav-content next-content">
      旧篇
  </a>
    <% } %>
</nav>
<div class="post-toc-btn"><i class="material-icons">format_list_numbered</i></div>
<div class="post-toc-none"><p>(无)</p></div>
<div class="post-toc-box">
    <%- toc(page.content, {
      class: 'post-toc',
      list_number: true
    }) %>
</div>
<div class="post-back"><i class="material-icons">arrow_back</i></div>
<!--
<script type="text/javascript">
    (function(){
        var appid = 'cyt08XrRG';
        var conf = 'prod_87882cab5a87f3944ba07aa5bf029947';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
-->
