<div class="post-header" style="background-image:url(<%= theme.post_header.img %>)">
    <a href="<%=theme.post_header.url%>">
        <div class="post-header-title">
            <p style="">
                <% if(theme.post_header.about) { %>
                <% if(Array.isArray(theme.post_header.about)) { %>
                <%- theme.post_header.about.join('</p><p>') %>
                <% } else { %>
                <%- theme.post_header.about %>
                <% } %>
                <% } %>
                <br>
                <% if(theme.visitor) { %>
                <span id="busuanzi_container_site_pv" style="color: white;font-size:10px;line-height: 10px">
                <%= theme.post_header.visitor_front %><span id="busuanzi_value_site_pv"></span><%= theme.post_header.visitor_back %>
                </span>
                <% } %>
            </p>
        </div>
    </a>
</div>