<div id="recent-posts">
  <% page.posts.each(function(post) { %>
      <div class="recent-post-item lazy" style="background-color:<%= theme.blendent.main %>" <% if(!post.thumbnail) { %><%var a=parseInt(Math.random()*theme.thumbnail,10)+1%> data-original="/images/random/vateral-<%=a%>.png"  <% } else { %>  data-original="<%= post.thumbnail%>"  <% } %>>
        <a class="recent-post-link" href="<%=config.root + post.path%>">
        <div class="post-hover">
          <!--title-->
          <p class="post-title"><a href="<%=config.root + post.path%>" ><%=post.title%></a></p>

          <!--date-->
          <% if (post.date) { %>
            <p class="post-time"><%=config.author%> &nbsp &nbsp 发布于:<time datetime="<%=post.date.toJSON()%>">
              <%=date(post.date)%>
            </time>
            </p>
          <% } %>

          <!--tags-->

          标签:
            <% if (post.tags.length>0) { %>
            <%- list_tags(post.tags, {
              show_count: false,
              style: 'list',
              separator: ''
            }) %>
            <% }else{ %>
            暂无标签
            <% } %>
          <!--分类-->

          分类:
            <% if (post.categories.length>0) { %>
            <%- list_categories(post.categories, {
              show_count: false,
              style: 'list',
              separator: ''
            }) %>
            <% }else {%>
            暂无分类
            <% } %>

          <!--excerpt-->
          <div class="post-excerpt">
            <p>
              摘要：
              <%if(post.excerpt) {%>
                <%- strip_html(post.excerpt) %>
              <%}else{%>
                <%- strip_html(truncate(post.content,{length: theme.reading.entry_excerpt })) %>
              <%}%>
            </p>
          </div>
          <div class="post-more"><a href="<%=config.root + post.path%>" >全文阅读</a></div>
        </div>
        </a>
      </div>
  <% }); %>
  <%-partial('partials/pagination')%>
</div>

